.input {
  position: relative;
  width: 100%;
  display: block;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
}

.input .caption {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1;
  position: absolute;
  top: 8px;
  left: 16px;
}

.input .caption .error {
  color: var(--error-text-color) !important;
}

.input.error input,
.input.error textarea {
  border-color: var(--error-text-color) !important;
}

.input input,
.input textarea {
  padding: 30px 18px 12px 48px;
  outline: none;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  transition: all 0.1s ease-in;
}

.input input:focus,
.input textarea:focus {
  border: 1px solid var(--focus-border-color);
}

.input input:focus + .input-adds-in {
  color: var(--primary-text-color);
}

.input-adds-in {
  position: absolute;
  top: 26px;
  left: 14px;
  color: var(--secondary-text-color);
}

/* .text-input .tag-list {
  padding: 26px 16px 12px 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
  align-items: center;
  min-height: 38px;
}

.text-input .tag-list .tag {
  display: flex;
  align-items: center;
  padding: 8px;
  background: rgb(239, 239, 239);
} */
