.sign-in {
  padding: 54px 24px 38px 24px;
  margin: 0 auto;
  flex: 1;
  background: white;
  max-width: 320px;
  border-radius: 6px;
}
.sign-in h3 {
  margin-bottom: 4px;
}

.sign-in p {
  margin-top: 4px;
  font-size: 0.9rem;
  color: var(--secondary-text-color);
}

.sign-in .add-in {
  position: absolute;
  top: 23px;
  left: 15px;
  color: var(--secondary-text-color);
}

.sign-in .button {
  margin-top: 12px;
}

.sign-in-back-button {
  position: fixed;
  top: 8px;
  left: 0;
  width: 38px;
  border: none;
  background: none;
}

.sign-in .key {
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: none;
  margin-top: 12px;
}

.sign-in label.key-enter {
  opacity: 0;
  display: block;
}

.sign-in label.key-enter-active {
  opacity: 1;
  display: block;
}

.sign-in label.key-enter-done {
  opacity: 1;
  display: block;
}

.sign-in label + label {
  margin-top: 8px;
}
