.curtain {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: all 0.4s ease-in;
}

.curtain--in {
  z-index: 101;
  background: rgb(18, 92, 122, 0.3);
}

.appbar {
  width: 100%;
  position: sticky;
  top: 0;
  height: 78px;
  z-index: 3;
  background-color: rgb(229, 246, 253);
  transition: all 0.1s ease-in-out;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  gap: 8px;
  overflow-x: auto;
}

.appbar.appbar--float {
  background: #fff;
  box-shadow: 0px 2px 3px 1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
    0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.appbar_filter {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  width: 100%;
  z-index: 102;
  transform: translateY(100%);
  transition: transform 0.3s ease-in;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.appbar_filter_footer {
  height: 108px;
}

.appbar_filter_content {
  background: #fff;
}

.appbar_filter--in {
  transform: translateY(28px);
}

.appbar--scrollable {
  justify-content: flex-start;
}

.appbar_chips {
  overflow-x: auto;
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}
