.card-pane {
  background: rgb(255, 244, 229);
  position: relative;
  margin: 8px;
  border-radius: 4px;
}

.card-sheet {
  display: flex;
  flex-flow: row-reverse nowrap;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.card-sheet button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 80px;
  background: none;
}

.card {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
    0px 1px 3px 0px rgb(0 0 0 / 12%);
  padding: 16px;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in;
  left: 0;
}

.card .reason {
  padding: 0;
  margin: 0 0 12px 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
}

.card .note {
  padding: 0;
  margin: 0 0 8px 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
}

.headline {
  display: grid;
  grid: auto-flow / auto 1fr auto;
  grid-gap: 8px;
}

.headline h1,
.headline h2 {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 0 12px 0;
}

.headline h2 {
  text-align: right;
}

.headline .icon {
  width: 24px;
  height: 24px;
  color: rgba(25, 118, 210, 0.8);
}
