.filter-pane {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 28px);
}

.filter-pane .close {
  position: absolute;
  top: 12px;
  right: 8px;
}

.filter-pane .body {
  flex: 1;
  overflow-y: auto;
}

.filter-pane h1 {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid rgb(235, 235, 235);
  margin: 0;
  padding: 12px;
}

.amount-input {
  display: grid;
  grid: auto-flow / 1fr auto 1fr;
  grid-gap: 12px;
  margin: 18px;
}

.date-input {
  margin: 18px 0;
}

.checkboxes {
  margin-top: 4px;
}
