.text-input {
  width: 100%;
  display: block;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
}

.text-input input {
  border: 1px solid rgb(176, 176, 176);
  padding: 26px 18px 12px 42px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.text-input .tag-list {
  padding: 26px 16px 12px 16px;
  border: 1px solid rgb(176, 176, 176);
  border-radius: 4px;
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
  align-items: center;
  min-height: 38px;
}

.text-input .tag-list .tag {
  display: flex;
  align-items: center;
  padding: 8px;
  background: rgb(239, 239, 239);
}
