.date-picker {
  display: grid;
  grid-gap: 12px;
  grid-auto-flow: column;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Roboto Mono', monospace;
}

.date-picker .group {
  box-sizing: border-box;
  display: grid;
  grid: auto-flow / repeat(7, 1fr);
}

.group button {
  background: none;
  border: none;
}

.group div {
  text-align: center;
  padding: 12px 4px 4px;
  box-sizing: content-box;
  color: rgba(113, 113, 113, 0.5);
}

.group .dimmed {
  color: rgba(113, 113, 113, 0.5);
}

.group .selected {
  background: rgb(239, 83, 80);
}
